<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rosnetworkmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.sze.aut.ros.network.model.rosnetworkmodel.presentation.RosnetworkmodelModelWizardID"
            name="%_UI_RosnetworkmodelModelWizard_label"
            class="hu.sze.aut.ros.network.model.rosnetworkmodel.presentation.RosnetworkmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RosnetworkmodelModelFile.gif">
         <description>%_UI_RosnetworkmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rosnetworkmodel -->
      <editor
            id="hu.sze.aut.ros.network.model.rosnetworkmodel.presentation.RosnetworkmodelEditorID"
            name="%_UI_RosnetworkmodelEditor_label"
            icon="icons/full/obj16/RosnetworkmodelModelFile.gif"
            extensions="rosnetworkmodel"
            class="hu.sze.aut.ros.network.model.rosnetworkmodel.presentation.RosnetworkmodelEditor"
            contributorClass="hu.sze.aut.ros.network.model.rosnetworkmodel.presentation.RosnetworkmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
