<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="io.yaktor.domain.presentation.DomainModelWizardID"
            name="%_UI_DomainModelWizard_label"
            class="io.yaktor.domain.presentation.DomainModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DomainModelFile.gif">
         <description>%_UI_DomainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="io.yaktor.domain.presentation.DomainEditorID"
            name="%_UI_DomainEditor_label"
            icon="icons/full/obj16/DomainModelFile.gif"
            extensions="domain"
            class="io.yaktor.domain.presentation.DomainEditor"
            contributorClass="io.yaktor.domain.presentation.DomainActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated domain -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="io.yaktor.mongoNode.presentation.MongoNodeModelWizardID"
            name="%_UI_MongoNodeModelWizard_label"
            class="io.yaktor.mongoNode.presentation.MongoNodeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MongoNodeModelFile.gif">
         <description>%_UI_MongoNodeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated domain -->
      <editor
            id="io.yaktor.mongoNode.presentation.MongoNodeEditorID"
            name="%_UI_MongoNodeEditor_label"
            icon="icons/full/obj16/MongoNodeModelFile.gif"
            extensions="mongonode"
            class="io.yaktor.mongoNode.presentation.MongoNodeEditor"
            contributorClass="io.yaktor.mongoNode.presentation.MongoNodeActionBarContributor">
      </editor>
   </extension>

</plugin>
