<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated travel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="nowheretravel.presentation.NowheretravelModelWizardID"
            name="%_UI_NowheretravelModelWizard_label"
            class="nowheretravel.presentation.NowheretravelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NowheretravelModelFile.gif">
         <description>%_UI_NowheretravelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated travel -->
      <editor
            id="nowheretravel.presentation.NowheretravelEditorID"
            name="%_UI_NowheretravelEditor_label"
            icon="icons/full/obj16/NowheretravelModelFile.gif"
            extensions="nowheretravel"
            class="nowheretravel.presentation.NowheretravelEditor"
            contributorClass="nowheretravel.presentation.NowheretravelActionBarContributor">
      </editor>
   </extension>

</plugin>
